html {
  font-size: 16px;
}

body {
  background-color: rgb(243, 243, 236);
  max-width: 500px;
  margin: 20px auto;
}
main {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.block {
  color: blue;
}

.block_text {
  display: block;
  position: relative;
  cursor: pointer;
}

.inputfield {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.block_text:hover ~ div {
  display: block;
}

.inputfield:checked ~ div {
  display: block;
  color: black;
}

.block_img {
  display: none;
  justify-content: center;
}

.block label:before {
  content: '\27A4';
  float: right;
}

.block input:checked + label {
  color: rgb(0, 0, 0);
}

.block input:hover + label:before {
  transition: transform .35s;
  transform: rotate(90deg);
}

.block input:checked + label:before {
  transition: transform .35s;
  transform: rotate(90deg);
}

.block:hover {
  color: black;
}

.block_text:hover+div {
  display: block;
}

.block_img:hover {
  display: block;
}

